@use '../utils' as *;

.rd-navigation {
	@include lg {
		display: flex;
		position: sticky;
		top: 0;
		margin-right: 32px;
		width: 320px;
		max-height: 100vh;
		border-right: 1px solid $gray-300;
		transition: transform 400ms ease;
	}

	&--collapsed {
		@include lg {
			transform: translateX(-100%);
		}
	}

	&--hidden {
		@include lg {
			flex-basis: 0%;
			width: auto;
		}
	}
}

.rd-navigation__nav {
	@include lg {
		display: flex;
		width: 100%;
	}
}

.rd-navigation__list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 16px;
	min-height: 55px;
	border-bottom: 1px solid $gray-300;
	list-style-type: none;
	overflow-x: auto;

	@include lg {
		padding-top: 32px;
		width: 100%;
		align-items: flex-start;
		flex-direction: column;
		border-bottom: none;
		overflow-x: hidden;
		overflow-y: auto;
		transition: transform 300ms ease;

		.rd-header--scrolled ~ .rd-main & {
			transform: translateY($header-scrolled-min-height);
		}
	}

	&--hidden {
		@include lg {
			visibility: hidden;
		}
	}
}

.rd-navigation__item {
	&:not(:last-child) {
		margin-right: 8px;

		@include lg {
			margin-bottom: 5px;
			margin-right: 0;
		}
	}

	@include lg {
		width: 100%;
	}
}

.rd-navigation__link {
	padding: 5px;
	color: $gray-700;
	border-radius: 5px;
	text-decoration: none;
	font-weight: $font-weight-bold;

	&:hover,
	&:focus,
	&:active {
		color: $white;
		background-color: $blue-400;
	}

	@include lg {
		display: block;
		width: 100%;
	}
}

.rd-navigation__collapse {
	display: none;

	@include lg {
		display: block;
		position: absolute;
		top: 50%;
		right: -30px;
		padding: 0;
		width: 40px;
		height: 40px;
		color: $white;
		background-color: $blue-400;
		border: none;
		border-radius: 50%;
		transform: translateY(-50%);

		&:hover,
		&:focus {
			background-color: $gray-700;
		}

		.rd-icon {
			width: 32px;
			height: 32px;
		}
	}

	&--collapsed {
		@include lg {
			.rd-icon {
				transform: rotate(180deg);
			}
		}
	}
}
