@use '../utils' as *;

.rd-back-to-top {
	display: block;
	position: fixed;
	bottom: 25px;
	right: 16px;
	padding: 0;
	width: 45px;
	height: 45px;
	color: $gray-700;
	background-color: $white;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 3px 1px hsla(0, 0%, 0%, 0.25);

	@include DarkMode {
		color: $white;
		background-color: $blue-400;

		&:hover,
		&:focus {
			background-color: $red-500;
		}
	}

	&:hover,
	&:focus {
		color: $white;
		background-color: $blue-400;
	}

	.rd-icon {
		width: 25px;
		height: 25px;
	}

	@include xlg {
		bottom: 40px;
		right: 60px;
	}
}
