@use '../utils' as *;

.rd-content {
	margin: 2em 0;
	padding: 0 16px;
	overflow-x: hidden;
}

.rd-content {
	.rd-container > * + * {
		margin-top: 1em;
	}

	@include lg {
		flex: 1;
	}
}

.rd-asset__image {
	display: block;
	width: 200px;
	height: 200px;
}

.rd-asset__image--rems {
	width: 12.5rem;
	height: 12.5rem;
}
