@use '../utils' as *;

.rd-borders__box-width {
	padding: 10px;
	border: 2px solid $blue-400;

	&--em {
		border-width: 0.125em;
	}

	&--rem {
		border-width: 0.125rem;
	}

	&--vw {
		border-width: 2vw;
	}
}

.rd-borders__box-radius {
	padding: 10px;
	border: 2px solid $blue-400;
	border-radius: 4px;

	&--em {
		border-radius: 0.25em;
	}

	&--rem {
		border-radius: 0.25rem;
	}

	&--vw {
		border-radius: 4vw;
	}
}
