.rd-svg-sizing__icon {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: 32px;
		height: 32px;
	}

	&--em {
		svg {
			width: 2em;
			height: 2em;
		}
	}

	&--rem {
		svg {
			width: 2rem;
			height: 2rem;
		}
	}

	&--percent {
		svg {
			width: 2%;
			height: 2%;
		}
	}

	&--vw {
		svg {
			width: 2vw;
			height: 2vw;
		}
	}
}

.rd-svg-sizing__text {
	font-size: 1rem;
}
