@use '../utils' as *;

.rd-image-sizing__asset {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@include md {
		align-items: flex-start;
		flex-direction: row;
	}

	img {
		width: 300px;
		height: 300px;
		max-width: 100%;
	}

	&--em {
		img {
			width: 18.75em;
			height: 18.75em;
		}
	}

	&--rem {
		img {
			width: 18.75rem;
			height: 18.75rem;
		}
	}

	&--percent {
		img {
			width: 30%;
			height: 30%;
		}
	}

	&--vw {
		img {
			width: 30vw;
			height: 30vw;
		}
	}
}

.rd-image-sizing__text {
	margin-left: 10px;
	max-width: 30ch;
}
