.rd-svg-sizing__icon {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: 80px;
		height: 80px;
	}

	&--em {
		svg {
			width: 5em;
			height: 5em;
		}
	}

	&--rem {
		svg {
			width: 5rem;
			height: 5rem;
		}
	}

	&--percent {
		svg {
			width: 5%;
			height: 5%;
		}
	}

	&--vw {
		svg {
			width: 5vw;
			height: 5vw;
		}
	}
}
