@use './utils' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.6;
	font-family: $font-family-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

a,
button {
	transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

h1 {
	font-size: 2.5rem;
	font-weight: $font-weight-bold;
}

h2 {
	font-size: 1.75rem;
	font-weight: $font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.1;
}

p {
	max-width: 60ch;
	font-size: 1.125rem;
}

button {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

input,
select,
textarea {
	font-family: inherit;
}
