*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--black: #000000;
	--white: #ffffff;
	--gray-700: #333333;
	--blue-400: #0077b6;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
}

body {
	margin: 0;
	font-family: 'Rubik', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

a,
button {
	transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.rd-visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.rd-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	fill: currentColor;
	transition: fill 150ms ease-in-out;
}

.rd-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	box-shadow: 0 0 4px 1px hsla(0, 0%, 0%, 0.25);
}

.rd-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	background-color: var(--blue-400);
}

.rd-footer__text {
	margin: 0;
	color: var(--white);
}

.rd-navigation__list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 16px;
	min-height: 55px;
	border-bottom: 1px solid #ccc;
	list-style-type: none;
	overflow-x: auto;
}

.rd-navigation__item:not(:last-child) {
	margin-right: 8px;
}

.rd-navigation__link {
	padding: 5px;
	color: var(--gray-700);
	border-radius: 5px;
	text-decoration: none;
	font-weight: var(--font-weight-bold);
}

.rd-navigation__link--active {
	color: var(--white);
	background-color: var(--blue-400);
}

.rd-navigation__link:hover,
.rd-navigation__link:focus {
	color: var(--white);
	background-color: var(--gray-700);
}

.rd-navigation__collapse {
	display: none;
}

.rd-content {
	padding: 0 16px;
}

@media only screen and (min-width: 62em) {
	.rd-main {
		display: flex;
	}

	.rd-navigation {
		display: flex;
		position: sticky;
		top: 0;
		width: 320px;
		max-height: 100vh;
		border-right: 1px solid #ccc;
		transition: transform 400ms ease;
	}

	.rd-navigation--collapsed {
		transform: translateX(-100%);
	}

	.rd-navigation--hidden {
		width: auto;
	}

	.rd-navigation__nav {
		display: flex;
		width: 100%;
	}

	.rd-navigation__list {
		padding-top: 32px;
		width: 100%;
		align-items: flex-start;
		flex-direction: column;
		border-bottom: none;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.rd-navigation__list--hidden {
		visibility: hidden;
	}

	.rd-navigation__item {
		width: 100%;
	}

	.rd-navigation__item:not(:last-child) {
		margin-bottom: 5px;
		margin-right: 0;
	}

	.rd-navigation__link {
		display: block;
		width: 100%;
	}

	.rd-navigation__collapse {
		display: block;
		position: absolute;
		top: 50%;
		right: -30px;
		padding: 0;
		width: 40px;
		height: 40px;
		color: var(--white);
		background-color: var(--blue-400);
		border: none;
		border-radius: 50%;
		transform: translateY(-50%);
	}

	.rd-navigation__collapse:hover,
	.rd-navigation__collapse:focus {
		background-color: var(--gray-700);
	}

	.rd-navigation__collapse .rd-icon {
		width: 32px;
		height: 32px;
	}

	.rd-navigation__collapse--collapsed .rd-icon {
		transform: rotate(180deg);
	}

	.rd-content {
		flex: 1;
	}
}

.rd-font-slider {
	display: flex;
	align-items: center;
}

.rd-font-slider__size {
	flex-shrink: 0;
	margin-right: 16px;
}

.rd-font-slider__slider {
	width: 100%;
	height: 8px;
	min-width: 400px;
}

.rd-font-slider__track {
	top: 0;
	bottom: 0;
	background-color: #edf2f4;
	border-radius: 20px;
}

.rd-font-slider__track-0 {
	background-color: var(--blue-400);
}

.rd-font-slider__thumb {
	display: block;
	top: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	color: transparent;
	background-color: #edede9;
	border-radius: 50%;
	outline: none;
	transform: translateY(-50%);
	transition: background-color 150ms ease-in-out;
	cursor: grab;
}

.rd-font-slider__thumb:focus {
	background-color: var(--blue-400);
}

.rd-font-slider__thumb:active {
	background-color: var(--blue-400);
}
